web/sites/*/*settings*.php
web/sites/*/*services*.yml
web/sites/*/files
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
web/sites/*/files-private
web/sites/*/translations
web/sites/*/tmp
web/sites/*/cache
web/vendor
web/core
web/modules/README.txt
web/modules/contrib
web/profiles/README.txt
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/sites/README.txt
web/themes/README.txt
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
web/.ht.router.php
web/autoload.php
web/composer.json
web/composer.lock
web/example.gitignore
web/index.php
web/INSTALL.txt
web/LICENSE.txt
web/README.txt
web/robots.txt
web/update.php
web.config
vendor/
node_modules/
composer.phar
composer
robo.phar
robo
drush.phar
drush
drupal.phar
drupal